
</section>

</main>

<footer class="flex justify-center w-full bg-red-dark">
  <nav class="w-5/6 lg:w-3/5 py-3">
    <a class="text-yellow text-3xl no-underline mr-6" href="{{ .Site.BaseURL }}">
      <i class="fas fa-home"></i>
    </a>
    <a class="text-yellow text-3xl no-underline mr-6" href="{{ .Site.BaseURL }}/todo">
      <i class="far fa-check-circle"></i>
    </a>
  </nav>
</footer>

</body>

</html>
