{{ $baseURL :=  .Site.BaseURL }}

<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Europe 2019">
  <title>
    E19
  </title>
  <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/tw.css">
  <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/fontawesome-all.min.css">
  <link rel="icon" href="{{ $.Site.BaseURL }}favicon.ico">
</head>

<body>

  <heading class="flex justify-center w-full bg-green-dark">
    <nav class="w-5/6 lg:w-3/5 py-3">
      <a class="text-yellow text-3xl no-underline mr-6" href="{{ .Site.BaseURL }}">
        <i class="fas fa-home"></i>
      </a>
      <a class="text-yellow text-3xl no-underline mr-6" href="{{ .Site.BaseURL }}/todo">
        <i class="far fa-check-circle"></i>
      </a>
    </nav>
  </heading>

  <main  class="flex justify-center w-full">
    <section class="w-5/6 lg:w-3/5 py-8">
