{{ partial "top" . }}

  <ul class="list-reset mb-6 ">
    {{ range .Pages.ByParam "visitdate" }}
      {{ if .Params.day }}
        <li class="my-2">
          {{ if eq .Params.status "started" }}<i class="fas fa-star-half"></i>{{ end }}
          {{ if eq .Params.status "done" }}<i class="fas fa-star"></i>{{ end }}
         <a class="font-r text-black text-lg leading-normal no-underline"
         href="{{.Permalink}}">{{.Params.visitdate}} ({{.Params.day}}) -  {{.Title}}</a>
       </li>
      {{ end }}
    {{ end }}
  </ul>

{{ partial "bottom" . }}
